<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.mimos.m3gnet.libraries"
    android:versionCode="4"
    android:versionName="0.4.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

    </application>

</manifest>
